.todo-filters {
  display: flex;
}

.todo-filters__filter,
.todo-filters__filter--active {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 15px;
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  outline: none;
  transition: 0.25s;
  &:hover {
    border: 1px solid $medium-sea-green;
    // border-radius: 10px;
    color:$medium-sea-green;
    transition: 0.25s;
  }
}

.todo-filters__filter--active {
  border: 1px solid $dark-slate-grey;
  // border-radius: 10px;
  transition: 0.25s;
}

