.task-filters {
  display: flex;
}

.task-filters__filter {
  font-size: 10px;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  &:hover {
    color: $green;
  }
}

.task-filters__filter--active {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

