.todo,
.todo--disabled {
  // border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.todo {
  color: $dark-slate-grey;
  &:hover {
    .todo__icon {
      display: block;
      transition: 0.25s;
    }
  }
}

.todo__icon {
  color: $red;
  font-size: 15px;
  font-weight: 200;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  transition: 0.25s;
}

.todo__title,
.todo__edit,
.todo__title--disabled {
  border: none;
  width: 100%;
  height: auto;
  font-size: 2rem;
  color: inherit;
  margin-left: 5px;
  text-align: left;
  cursor: pointer;
}

.todo__form {
  box-sizing: border-box;
  width: 90%;
}

.todo__edit {
  caret-color: lightcoral;

}

.todo__title--disabled {
  color: lightcoral;
  font-weight: 200;
  cursor: not-allowed;
  &:hover {
    .todo__icon {
      display: none;
    }
  }
}

.todo__checkbox {
  margin-left: 20px;
  margin-right: 10px;
}
