/* UTILITIES
==================================================================== */
/* BASE
==================================================================== */
.App {
  text-align: center;
  color: blue;
  box-sizing: border-box; }

input {
  outline: none; }

/* COMPONENTS
==================================================================== */
.clear-completed {
  font-size: 10px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.items-left {
  font-size: 10px;
  display: flex;
  align-items: center; }

.task-filters {
  display: flex; }

.task-filters__filter {
  font-size: 10px;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; }
  .task-filters__filter:hover {
    color: green; }

.task-filters__filter--active {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box; }

.info-panel {
  display: flex;
  justify-content: space-between; }

.todo,
.todo--disabled {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left; }

.todo {
  color: red; }
  .todo:hover .todo__icon {
    display: block;
    transition: 0.25s; }

.todo--disabled {
  color: lightcoral;
  cursor: not-allowed; }
  .todo--disabled:hover .todo__icon {
    display: none; }

.todo__checkbox {
  margin-left: 10px; }

.todo__icon {
  margin-right: 10px;
  cursor: pointer;
  display: none;
  transition: 0.25s; }

.todo__title {
  caret-color: transparent; }

.todo__edit {
  caret-color: red; }

.todo__title,
.todo__edit {
  border: none;
  width: 100%;
  height: auto;
  font-size: 24px;
  color: red;
  margin-left: 5px;
  text-align: left;
  cursor: pointer; }

.task-dashboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  border: 1px solid red;
  padding: 20px; }

.task-input {
  color: #ccc;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center; }

.task-input__icon {
  margin-left: 10px;
  cursor: pointer; }

.task-input__input {
  width: 100%;
  font-size: 20px;
  color: blue;
  border: none;
  margin-left: 5px;
  box-sizing: border-box; }

.button {
  color: white;
  background: blue;
  border: none; }

.Spinner,
.Spinner:before,
.Spinner:after {
  border-radius: 50%; }

.Spinner {
  color: red;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.Spinner:before,
.Spinner:after {
  position: absolute;
  content: ''; }

.Spinner:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.Spinner:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* LAYOUT
==================================================================== */
