.todo-dashboard {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  padding: 20px;
}

.todo-dashboard__title {
  color: $dark-slate-grey;
  font-size: 100px;
  font-weight: 100;
}

.todo-dashboard__section {
  box-shadow: 0px 10px 20px 0px rgba(102,102,102,0.52);
}


.todo-dashboard__section:first-child {
  background-color: blue;
}
